[id^="font"] {
    font-size: 25px;
    padding: 5px;
}

#font-test1 {
    /* 앞에 나온 글꼴을 못 찾은 경우 뒤의 글꼴을 적용한다 */
    font-family: '궁서체', '맑은 고딕', '바탕체';
}

#font-test2 {
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

#font-test3 {
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#font-test4 {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#font-test5 {
    font-family: "Black And White Picture", system-ui;
    font-weight: 400;
    font-style: normal;
}