#text {
    width: 500px;
    font-size: 20px;
    text-align: justify;
    text-indent: 1em;
}

#text::first-letter {
    font-size: 1.2em;
    font-weight: bold;
}

#text::first-line {
    color: red;
}

#text::selection {
    background-color: white;
    color: yellowgreen;
}

#text::before {
    content: "Hello!";
}

#text::after {
    content: "Element End!";
}