* {
    box-sizing: border-box;
}

.flex-box {
    display: flex;
    background-color: skyblue;
    padding: 5px;
    user-select: none;
    margin-bottom: 10px;
}

.flex-box > * {
    background-color: rgb(202, 240, 255);
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    margin: 5px;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
    height: 500px;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

#mywebsite {
    width: 1200px;
    font-size: 35px;
}

#mywebsite > header {
    background-color: darkred;
    height: 150px;
    color: white;
}

#mywebsite > nav {
    background-color: darkslateblue;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

#mywebsite > nav > div {
    background-color: rgb(193, 184, 247);
    margin: 5px;
    width: 90px;
}

#mywebsite > main {
    display: flex;
    height: 500px;
}

#newsstand {
    background-color: darkgray;
    width: 80%;
}

#newsstand > article {
    background-color: gold;
    height: 85%;
}

#newsstand > section {
    background-color: darkblue;
    height: 15%;
}

#mywebsite > main > aside {
    background-color: darkolivegreen;
    width: 20%;
}

#mywebsite > footer {
    background-color: darkgoldenrod;
    height: 100px;
}

#태그 {
    display: flex;
}

#태그 > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

#태그 > ul > li {
    font-size: 20px;
    padding-left: 10px;
    align-self: center; 
}

#태그 > ul > li::before {
    content: "/ ";
    color: gray;
}

#태그 > ul > li:first-child::before {
    content: "";
}

#태그2 {
    background-color: azure;
    display: flex;
    justify-content: space-between;
}

#태그2 > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
}

#태그2 > ul > li {
    font-size: 17px;
    padding-left: 8px;
    align-self: center;
}

#태그2 > ul > li::before {
    content: "· ";
    color: gray;
}

#태그2 > ul > li:first-child::before {
    content: "";
}

#태그2 > div {
    font-size: 22px;
    align-self: center;
}

.그림뉴스1 {
    display: flex;
    height: 50%;
    overflow: hidden;
}

.그림뉴스1 > div > .news_content {
    font-size: 18px;
    height: 55px;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-right: 8px;
    word-break: break-all;
}

.그림뉴스1 > div > .출처 > div {
    font-size: 16px;
}

#글뉴스 > ul {
    list-style-type: none;
    margin: 10px;
    padding-left: 5px;
}

#글뉴스 > ul > li {
    display: flex;       
    justify-content: space-between;
    flex-direction: row;
    text-overflow: ellipsis;
    font-size: 18px;
    margin: 15px 5px;
}

#글뉴스 > ul > li > span:first-child {
    width: 70%;
}

#글뉴스 > ul > li > span:nth-child(2) {
    width: 30%;
    text-align: right;
}

#글뉴스 > ul > li > span:nth-child(2):before {
    content: "· ";
    color: gray;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section > div {
    display: flex;
    font-size: 20px;
}
